.homeScreen {
  background-color: #eecea2;
  color: rgb(24, 4, 4);
  padding: 3% 5%; 
  width: 100%;
  margin: 0 auto;
 
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10vh;
}
.homeScreen p{
  font-size: larger;
}


.logo {
  display: block;
  max-width: 100%;
  height: 25%;
  margin-bottom: 10vh;
}